In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("IMDB_Dataset.csv",engine='python', error_bad_lines=False, dtype= str)

Skipping line 771: unexpected end of data

In [ ]:
df['review'] = df['review'].str.replace('<br /><br />', '')

In [ ]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree
#storing the puntuation free text
df['review']= df['review'].apply(lambda x:remove_punctuation(x))
df.head(10)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production The filming tech...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically theres a family where a little boy J...  negative
4  Petter Matteis Love in the Time of Money is a ...  positive
5  Probably my alltime favorite movie a story of ...  positive
6  I sure would like to see a resurrection of a u...  positive
7  This show was an amazing fresh  innovative ide...  negative
8  Encouraged by the positive comments about this...  negative
9  If you like original gut wrenching laughter yo...  positive

In [ ]:
df['review']= df['review'].apply(lambda x: x.lower())

In [ ]:
#defining function for tokenization
import re
def tokenization(text):
    tokens = re.split('W+',text)
    return tokens
#applying function to the column
df['review']= df['review'].apply(lambda x: tokenization(x))

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
#importing nlp library
import nltk
#Stop words present in the library
stopwords = nltk.corpus.stopwords.words('english')
stopwords[0:10]
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [ ]:
#defining the function to remove stopwords from tokenized text
def remove_stopwords(text):
    output= [i for i in text if i not in stopwords]
    return output

In [ ]:
#applying the function
df['review']= df['review'].apply(lambda x:remove_stopwords(x))

In [ ]:
#importing the Stemming function from nltk library
from nltk.stem.porter import PorterStemmer
#defining the object for stemming
porter_stemmer = PorterStemmer()

In [ ]:
#defining a function for stemming
def stemming(text):
  stem_text = [porter_stemmer.stem(word) for word in text]
  return stem_text
df['review']=df['review'].apply(lambda x: stemming(x))

In [ ]:
from nltk.stem import WordNetLemmatizer
#defining the object for Lemmatization
wordnet_lemmatizer = WordNetLemmatizer()

In [ ]:
import nltk
nltk.download('omw-1.4')
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [ ]:
#defining the function for lemmatization
def lemmatizer(text):
  lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
  return lemm_text
df['review']=df['review'].apply(lambda x:lemmatizer(x))

In [ ]:
df['liststring'] = [' '.join(map(str, l)) for l in df['review']]

In [ ]:
df

,review,sentiment,liststring
0,[one of the other reviewers has mentioned that...,positive,one of the other reviewers has mentioned that ...
1,[a wonderful little production the filming tec...,positive,a wonderful little production the filming tech...
2,[i thought this was a wonderful way to spend t...,positive,i thought this was a wonderful way to spend ti...
3,[basically theres a family where a little boy ...,negative,basically theres a family where a little boy j...
4,[petter matteis love in the time of money is a...,positive,petter matteis love in the time of money is a ...
...,...,...,...
764,[i first saw this film when i was about 8 year...,positive,i first saw this film when i was about 8 years...
765,[this film cant make up its mind whether its m...,negative,this film cant make up its mind whether its me...
766,[why o why did i pick this one up well i neede...,negative,why o why did i pick this one up well i needed...
767,[only a very small child could overlook the ab...,negative,only a very small child could overlook the abs...
768,[our teacher showed us this movie in first gra...,negative,our teacher showed us this movie in first grad...

In [ ]:
import spacy

In [ ]:
NER = spacy.load("en_core_web_sm", disable=["tok2vec", "tagger", "parser", "attribute_ruler", "lemmatizer"])

In [ ]:

for i in df['liststring']:
  text= NER(i)
  for w in text.ents:
    if w.label_== 'PERSON':
      names = list(w.text.split(" "))
      
      print(names)

In [ ]:

for i in df['liststring']:
  text= NER(i)
  for w in text.ents:
    if w.label_== 'LOC':
      city = list(w.text.split(" "))
      
      print(city)

['midwest']
['africa']
['europe']
['anchor', 'bay']
['bensonhurst']
['earth']
['ellis', 'island']
['atlantic']
['americas']
['the', 'middle', 'east']
['the', 'west', 'coast']
['europe']
['romance1914']
['camelot']
['nova']
['europe']
['the', 'middle', 'east']
['europe']
['europe']
['europe']
['europe']
['europe']
['arctic']
['europe']
['north', 'america']